{% extends 'base.html' %}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% import 'macros.html' as macro %}
{% block content %}
<div class="container">
     <h1>Source-info News centre</h1>
     <hr>
    <h2>Technology News</h2>
        <hr>
    <div class="news">
        {{macro.displayInfo(technology)}}
    </div>
    <h2>Science News</h2>
    <hr>
    <div class="news">
        {{macro.displayInfo(science)}}
    </div>
    <h2>Business News</h2>
    <hr>
    <div class="news">
        {{macro.displayInfo(business_news)}}
    </div>
    <h2>General News</h2>
    <hr>
    <div class="news">
        {{macro.displayInfo(general)}}
    </div>
    <h2>Entertainment News</h2>
    <hr>
    <div class="news">
        {{macro.displayInfo(entertainment)}}
    </div>
    <h2>Health News</h2>
    <hr>
    <div class="news">
        {{macro.displayInfo(health)}}
    </div>
    <h2>Sports News</h2>
    <hr>
    <div class="news">
        {{macro.displayInfo(sports)}}
    </div>
</div>
{% endblock %}