{% extends 'base.html' %}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% import 'macros.html' as macro %}
{% block content %}
<div class="container">
    <div class="news">
        <h2>Technology News</h2>
        <hr>
        {{macro.displayInfo(technology)}}
    </div>
    <div class="news">
        <h2>Science News</h2>
        <hr>
        {{macro.displayInfo(science)}}
    </div>
    <div class="news">
        <h2>Business News</h2>
        <hr>
        {{macro.displayInfo(business_news)}}
    </div>
    <div class="news">
        <h2>General News</h2>
        <hr>
        {{macro.displayInfo(general)}}
   
    <div class="news">
        <h2>Entertainment News</h2>
        <hr>
        {{macro.displayInfo(entertainment)}}
    </div>
    <div class="news">
        <h2>Health News</h2>
        <hr>
        {{macro.displayInfo(health)}}
    </div>
    <div class="news">
        <h2>Sports News</h2>
        <hr>
        {{macro.displayInfo(sports)}}
    </div>
</div>
{% endblock %}